body{
    background:linear-gradient(to right,rgb(232, 103, 11), rgba(232, 173, 11, 0.862),rgb(232, 103, 11));
}
td {
  border: 1px solid black;
  border-collapse: collapse;
}
th {
  border: 1px solid black;
  border-collapse: collapse;
}
img {
  border-radius: 8px;
}
a {
  color: brown;
}
.foto-1{
    display:block;
    margin:0 auto;
    box-shadow:5px 5px 5px black;
    width:500px;
    height:250px;
    object-fit:cover;
    object-position: center;
    border-radius: 12px;
}



