body {
  background: linear-gradient(to right, rgb(101, 192, 222),rgba(26, 41, 51, 0.862));
  margin: 20px;
  height: 100vh;
 
}
.TP-0 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  background-color: #00000061;
  width: 80%;
  margin: 0 20px;
  padding: 10px 0;
  box-shadow: 10px 10px 5px #00000061;
}
table {
    width: 90%;
    max-width: 900px;
    margin: 30px auto;
    border-collapse: collapse;
    background: rgba(0, 0, 0, 0.5);
    animation: tabelMasuk 1.2s ease 1s backwards;
}

th,td,tr{
    border: 1px solid white;
    padding: 12px;
    text-align: center;
}
h2{
    text-align:center;
    color :#ffffff;
}


